<div class="min-h-screen flex items-center justify-center bg-base-100 px-4 py-5">
    <div class="w-full max-w-md bg-base-200 p-6 rounded-xl shadow-md space-y-6">

        <h1 class="text-center">
            Explain of the methodology
        </h1>

        <h2 class="text-center">
            (Use arrows or slide)
        </h2>

        <div class="carousel rounded-box w-full">
            <div class="carousel-item w-full">
                <img src="step_1.png" class="w-full" alt="step 1 - explain" />
            </div>
            <div class="carousel-item w-full">
                <img src="step_2.png" class="w-full" alt="step 2 - explain" />
            </div>
            <div class="carousel-item w-full">
                <img src="step_3.png" class="w-full" alt="step 3 - explain" />
            </div>
            <div class="carousel-item w-full">
                <img src="step_4.png" class="w-full" alt="step 4 - explain" />
            </div>
        </div>

    </div>
</div>